$font-family-sans-serif: 'Roboto', sans-serif;

$primary:#5265E1;
$secondary: #FA5959;

#blue-background-right {
  background-color: $primary;
  width: 100%;
  height: 15rem;
  border-radius: 0 0 7rem 7rem;
} 

#blue-background-left {
  background-color: $primary;
  width: 100%;
  height: 15rem;
  border-radius: 0 0 7rem 7rem;
} 

$position-values: (
  0: 0,
  15: 15%,
  20: 20%,
  30: 30%,
  50: 50%,
  60: 60%,
  100: 100%
);

//Tabs
$nav-link-padding-y:  1rem;
$nav-link-padding-x: 2rem;
$nav-tabs-link-active-border-color: none;
$nav-tabs-border-color:  $primary;
$nav-pills-link-active-color:$primary;
$nav-link-font-weight: 500;
$nav-tabs-link-hover-border-color: none;

//Cards
$card-border-color: none;

//Accordion
$accordion-button-color: $primary;

//Footer
$input-focus-width: .5rem;



@media (min-width: 992px) {
  #blue-background-right {
    height: 22rem;
    border-radius: 0 0 0 10rem;
  }

  #blue-background-left {
    height: 22rem;
    border-radius: 0 0 10rem 0;
  }   

  #bookmark {
    text-align: left;
  }

}

@media (max-width: 767.98px) {
  #bookmark {
    text-align: center;
    margin-top: 2rem;
  }
}


@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";